@import '../../styles/variables.css';

.sidebar {
    background-color: var(--primary-color);
    color: white;
    overflow: hidden; 
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    border-top: .125rem solid white; 
}

.visible {   
    opacity: 1;
    width: 100vw;
}

.link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .625rem;
    list-style: none;
    border-bottom: .125rem solid white;
    display: flex;
    align-items: center;
}

.link a {
    color: white;
    padding: 1.25rem;
    text-decoration: none;
    font-size: .875rem;
    display: flex;
    align-items: center;
    gap: .625rem;
    font-size: 1rem;
}

.link:hover {
    background-color: var(--btn-bg-color);
  }

.link a:hover {
    color: var(--text-color);
}

@media (min-width: 768px) {
    .sidebar {
        width: 15.625rem;
        height: 100vh;
    }
}
