.footer {
    width: 100%;
    background-color: var(--grey-color);
    color: #333;
    height: 1.875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.icon {
    color: #333;
}

@media(min-width: 768px) {
    .footer {
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }
}